<form class="form-horizontal">
    <div class="row-fluid" id="settings_network">
	    <div class="row-fluid">
		<div class="span4"><h4>{{ _('Static IP') }}</h4></div>
	    </div>
	    <div class="control-group">
		<label class="control-label" >{{ _('Address') }}</label>
		<div class="controls">
		    <input type="text" class="span4" data-bind="value: fastbot_staticIPAddress" > 
		</div>			
	    </div>
	    <div class="control-group">
		<label class="control-label" >{{ _('Netmask') }}</label>
		<div class="controls">
		    <input type="text" class="span4" data-bind="value: fastbot_staticIPNetmask">
		</div>
	    </div>
	    <div class="control-group">
		<label class="control-label" >{{ _('Gateway') }}</label>
		<div class="controls">
		    <input type="text" class="span4" data-bind="value: fastbot_staticIPGateWay">
		</div>
	    </div>
	    <!--
	    <div class="control-group">
		<div class="controls">
		    <label class="checkbox">
			<input type="checkbox" data-bind="checked: feature_temperatureGraph" > {{ _('DHCP') }}
		    </label>
		</div>
	    </div>
	    -->
   </div>
</form>
